.text-center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.item-center {
    align-items: center;
}
.content {
    justify-content: center;
}
.bg {
    background-color: rgb(62, 36, 74);
}
